@{
    ViewBag.Title = "Home Page";
}






<div class="container" style="margin-bottom:40px;">
    <div class="jumbotron">
        <h1>Welcome to the MMS</h1>
        <p class="lead">MMS is a movie management system that helps you to manage the records of movies from different genres.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card item-card card-block">
                <img src="https://o.quizlet.com/W0U1B30wIGyt8INk24rQwQ_b.jpg" style="height:280px; object-fit:cover;" alt="Photo of sunset">
                <h2 class="item-card-title mt-3 mb-3">Genre Management</h2>
                <p><a class="btn btn-dark" href="/genres">Manage Genres &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card item-card card-block">
                <img src="https://s.studiobinder.com/wp-content/uploads/2019/09/Movie-Genres-Types-of-Movies-List-of-Genres-and-Categories-Header-StudioBinder.jpg" style="height:280px; object-fit:cover;" alt="Photo of sunset">
                <h2 class="item-card-title mt-3 mb-3">Genre Management</h2>
                <p><a class="btn btn-dark" href="/movies">Manage Movies &raquo;</a></p>
            </div>
        </div>


    </div>

</div>
